<section class="breweries" id="breweries">
  <div><button routerLink="/" class="backBtn">back</button></div>
  <ul>
    <li>
      <figure>
        <!-- Photo by Quentin Dr on Unsplash -->
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRephiV5Ax1kg4411kwXa9TBLBzBf2auJWufQ&usqp=CAU"
          alt="Several hands holding beer glasses"
        />
        <figcaption>
          <h3>{{ currencyId }} : {{ currency }}</h3>
        </figcaption>
      </figure>
    </li>
  </ul>
</section>
